fastapi
uvicorn[standard]
python-multipart
--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
transformers
Pillow
numpy
opencv-python-headless
scipy
soundfile
librosa
edge-tts
groq
matplotlib
grad-cam
ultralytics
segment-anything
